.sidebar {
  width: 300px;
  float: left;
  &__username {
    height: 100px;
    width: 300px;
    background-color: #253141;
    color: #ffffff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    &__topitems {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 20px;
      &__itemsname{
        width:200px;
        font-weight: bold;
        font-size: 16px;
      }
      &__icons{
        display: flex;
        justify-content: flex-end;
        width:60px;
        li {
          a{
            color: #ffffff;
            padding-left: 5px;
          } 
        }
      }
    }  
  }
  &__grouplist {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px;
    &__group {
      &__name {
        padding-bottom: 5px;
        font-size: 15px;
      }       
      &__message {
        margin-bottom: 40px;
        font-size: 11px;        
      }
      a{
        color: #ffffff;
        text-decoration: none;
      }
    }      
  }    
}